@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 189 47% 97%;
    --foreground: 192 33% 3%;
    --card: 189 47% 97%;
    --card-foreground: 192 33% 3%;
    --popover: 189 47% 97%;
    --popover-foreground: 192 33% 3%;
    --primary: 190 59% 51%;
    --primary-foreground: 192 33% 3%;
    --secondary: 190 73% 72%;
    --secondary-foreground: 192 33% 3%;
    --muted: 189 47% 20%;
    --muted-foreground: 192 33% 70%;
    --accent: 190 87% 64%;
    --accent-foreground: 192 33% 3%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 192 33% 3%;
    --border: 189 47% 20%;
    --input: 189 47% 20%;
    --ring: 190 87% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 189 47% 3%;
    --foreground: 192 33% 97%;
    --card: 189 47% 3%;
    --card-foreground: 192 33% 97%;
    --popover: 189 47% 3%;
    --popover-foreground: 192 33% 97%;
    --primary: 190 59% 49%;
    --primary-foreground: 189 47% 3%;
    --secondary: 190 73% 28%;
    --secondary-foreground: 192 33% 97%;
    --muted: 189 47% 80%;
    --muted-foreground: 192 33% 97%;
    --accent: 190 87% 36%;
    --accent-foreground: 189 47% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 191 33% 10%;
    --border: 189 47% 60%;
    --input: 189 47% 80%;
    --ring: 190 87% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li:hover:after {
  width: 100%;
  left: 0;
}
li {
  color: #fff;
  padding: 6px 0px;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.line {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  transition: all;
  animation: draw 2s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--background));
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--primary) / 0.7);
  border: 3px solid hsl(var(--background));
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary));
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary) / 0.7) hsl(var(--background));
}
